{% extends "base.html" %}
{% block content %}

{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/app_profile.css' %}">


<title>Profile</title>
<h1 class="main-title">PROFILE</h1>

<body>
  <div id='profile'>
    <p style="text-align: center"><img class="img-circle" src = 'https://image.freepik.com/free-vector/vector-illustration-cosmonaut_1441-11.jpg' width="200" height="200"></p>
    <h3 class="name">{{ Name }}</h3>


    <table class="profile-table" align="center" width="600" cellpadding="40" cellspacing="20">

            <tr>
    		      <td class="subject">Birthday</td>
    		        <td class="value">{{ Birthday }}</td>
            </tr>
            <tr>
              <td class="subject">Gender</td>
                <td class="value">{{ Gender }}</td>
            </tr>
            <tr>
              <td class="subject">Description</td>
                <td class="value">{{ Description }}</td>
            </tr>
            <tr>
              <td class="subject">E-mail</td>
                <td class="value">{{ Email }}</td>
            </tr>

        <tr>
          <td class="subject">Expertise</td>
          <td class="value-exp">
              {% for ii in Expert %}
              <span class="badge">{{ ii }}
            </span>
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
</body>


{% endblock %}
