.item4 {
  background-color: white;
}


img#profile-pict {
  border-radius: 50%;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid black;
}
img#profile-pict:hover {
  border-radius: 50%;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid black;
  transform: translate(0, -5px);
  -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
  transform: translate(0, -5px);
}

img#post-pict {
  border-radius: 20%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid black;
}


#title {
  font-size: 34px;
  color:white;
  font-family: 'Quicksand';
  font-weight: bold;
  text-shadow: 2px 2px 8px #778890;
}
#name {
  text-align: center;
  font-family: 'Quicksand';
  font-size: 34px;
  font-weight: bold;
}
#ff{
  text-align: center;
  font-family: 'Quicksand';
  font-size: 14px;

}
#latest {
  text-align: center;
  font-family: 'Quicksand';
  font-size: 24px;
  font-weight: bold;
}

#profilebox {
  min-height: 250px;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  padding: 20px;
  padding-bottom: 5px;
  background-color:#778899;

}

#statsbox {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  min-height: 250px;
  background-color: white;
  border-radius: 5px;
  height: inherit;
  font-family: 'Mukta';
  font-size: 20px;
}

.status{
  width: 700px;
  margin: 20px auto;
  text-align: left;
  background: #D3D3D3;
  position: relative;
  z-index: 1;
  padding: 20px 30px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  font-family: 'Mukta';
  font-size: 18px;
}
.status-with-date {
  font-size: 12px;
  font-family: 'Mukta';
  color: #778899;
}

footer p{
  text-align: center;
  padding-top: 10px;
}
