{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/statpage.css' %}" />


<h1 id = 'title'> Statistic </h1>
<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col" id="profilebox">
      <img src="https://image.freepik.com/free-vector/vector-illustration-cosmonaut_1441-11.jpg" class="img-fluid" id="profile-pict">
      <h3 id="name">{{ name }}</h3>
    </div>
    <div class="col-8" id="statsbox">
      <h3 id = 'ff'>Friends : {{ total_friend }} People</h3>
      <h3 id = 'ff'>Feeds : {{ total_feed }} Post</h3>
      <h3></h3>
      <h3 id = "latest">Latest Post :</h3>
      <div class="status" id='lpost'>
        <img src="https://image.freepik.com/free-vector/vector-illustration-cosmonaut_1441-11.jpg" class="img-fluid" id="post-pict">
        <div class="post">
            <p>{{ latest_post }}</p>
            <div class="status-with-date">
                Posted on {{ latest_post_date }}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
