textarea {
    resize:none
}

#circular-image {
  border-radius:  50%;
  margin: 20px 0 20px 0;
  width: 75px;
  height: 75px;
}


#statuses, #input-list .container {
	width: 100%;
	margin: 20px auto;
	text-align: left;
	background: #fff;
	position: relative;
	z-index: 1;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	padding: 20px 30px;
	box-sizing: border-box;
	position: relative;	
}

#space{
	padding-top: 2px;
}

#name{
	font-size: 25px;
}

#msg{
	font-size: 30px;
	word-wrap: break-word;
	width: 100%;
}

#time{
	font-size: 13px;
}