{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}">
<section name='add-input' id='add-input'>
	<h4>Add Friend</h4>
	<form id='form' method="POST" action="{% url 'add-friend:add_friend' %}">
		{% csrf_token %}
        {{ add_form }}
        <br>
	    <button id="submit" type="submit" class="btn pull-right btn-primary">Add Friend</button>
	</form>
	{% if not valid %}
	<div class="alert alert-danger alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Sorry!</strong> You've added an invalid friend.
	</div>
	{% endif %}
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <div class="flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item">
                        <div class="friends-list">
                            <div class="friend-list-image">
                                <img id="friend-image" src="http://www.sbsc.in/images/dummy-profile-pic.png" alt="profile-image"/>
                            </div>
                            <div class="friend-list-name">
                                {{data.name}}
                            </div>
                            <div class="friend-list-url">
                                <a href="{{ data.url }}" target="_blank">{{ data.url }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section name='friend-list' id='friend-list'>
	<h4>List Friend</h4>
	<table class='table table-responsive table-hover'>
		<tbody>
			{% if friend %}
				{% for i in friend %}
				<tr>
					<td> {{ i.name }} </td>
					<td></td>
					<td> <a href="{{ i.url }}">{{ i.url }}</a> </td>
					<td> Added 	{{ i.created_date }} </td>
				</tr>
				{% endfor %}
			{% else %}
			<div class="alert alert-danger text-center">
                <strong>Oops!</strong> You don't have any friends.
            </div>
            {% endif %}
		</tbody>
	</table>
</section>
{% endblock %}